<footer class="container-fluid" style="margin-bottom:0px;">
        <div class="foot">
        <div class="box box1" style="margin-top: 10px;">
            <ul>
                <li style="color: yellow; font-size: 17px;">FIND US</li>
                <li><i class="fa-brands fa-facebook ic"></i>Facebook </li>
                <li><i class="fa-brands fa-instagram ic"></i>Instagram</li>
                <li><i class="fa-brands fa-linkedin ic"></i>LinkedIn</li>
                <li><i class="fa-brands fa-youtube ic"></i>YouTube</li>
            </ul>
        </div>
        <div class="box box2" style="margin-top: 10px;">
            <ul>
                <li>SUPPORT</li>
                <li><i class="fa-solid fa-lock ic"></i>PRIVACY POLICY</li>
                <li><i class="fa-solid fa-address-book ic"></i>CONTACT US</li>
                <li><i class="fa-solid fa-address-book ic"></i>SHIPPING & RETURNS</li>
                <li><i class="fa-brands fa-teamspeak ic"></i>TERMS OF SERVICE</li>
            </ul>
        </div>
        <div class="box box3" style="margin-top: 10px;">
            <ul>
                <li style="color: yellow;font-size: 18px;">Contact</li>
                <li> <i class="fa-brands fa-adversal ic"></i>For Sales: +91 8571016164, +91 8571016165</li>
                <li><i class="fa-solid fa-phone ic"></i>For Orders: +91 8571016161, +91 8572016161</li>
                <li><i class="fa-solid fa-envelope ic"></i>hi@bitesbee.com</li>
                <li><i class="fa-solid fa-address-book ic"></i>G016, Bestech Business Towers, Sector 66, Mohali, Punjab, 160066</li>
            </ul>
    </footer>
